* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px;
  color: white;
  background-color: crimson;
  cursor: pointer;
}

button:hover {
  background-color: skyblue;
  color: #333;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.color-acento {
  color: red;
}

/*  ----- HEARDERS  -----   */

header {
  background-color: #2a394f;
}

header .logo {
  margin: 0;
  padding: 25px 30px;
  color: #15a4f9;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Asegura que los elementos están alineados verticalmente */
}

.nav-destok {
  display: none;
}

.abrir-menu,
.cerrar-menu {
  display: block;
  border: 0;
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
}

.abrir-menu {
  color: black;
}
.cerrar-menu {
  color: white;
}

.nav {
  opacity: 0;
  visibility: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(12, 12, 12, 0.973);
  padding: 2rem;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
}

.nav.visible {
  opacity: 1;
  visibility: visible;
}

.nav-list {
  flex-direction: column;
  align-items: end;
}

.nav-list li a {
  gap: 2rem;
  color: azure;
  text-decoration: none;
}

.nav,
.nav-list li a:hover {
  color: rgb(109, 255, 80);
}
/* FIN HEADERS */

#hero {
  background-image: url("../imagenes/fondo-ryzer1.jpg");
  background-color: rgb(6, 88, 126);
  padding: 50px 0;
  background-size: cover;
  background-position: center;

  border: 3px solid #00a8db;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#hero a {
  text-decoration: none;
}

#hero h1 {
  padding: 100px;
  text-align: center;
  color: #fff;
  font-size: 38px;
  text-shadow: 3px 3px 5px rgba(255, 0, 0, 1);
}

#hero button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px;
  color: white;
  background-color: crimson;
  text-decoration: none; /* Elimina el subrayado */
  display: block; /* Hacer que el botón sea un bloque */
  margin: 20px auto;
  cursor: pointer;
}

#hero a button:hover {
  background-color: skyblue;
  color: #333;
}

/* ------- somos gaming -------------*/
#somos-gaming .container {
  text-align: center;
  padding: 80px 12px;
}

/*  ------ Nuestros Juegos ------ */
#nuestros-juegos {
  background-color: rgb(30, 30, 30);
  color: rgb(245, 245, 245);
  text-align: center;
}

#nuestros-juegos .container {
  padding: 100px 0px;
}

#nuestros-juegos h2 {
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-juegos p {
  display: none;
}

#nuestros-juegos .carta {
  background-size: cover;
  background-position: center center;
  padding: 50px 0px;
  margin: 30px;
  border-radius: 15px;
}

.carta:nth-child(1) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/ggStrive.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/sf6.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/kofxv.jpg");
}

.carta:nth-child(4) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/6.jpg");
}

.carta:nth-child(5) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/gokuhdf.webp");
}

.carta:nth-child(6) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/Guilty-Gear-Xrd-Rev-2.webp");
}

.carta:nth-child(7) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/Guilty-Gear-XX-Accent-Core-Plus-R-Cover.webp");
}

.carta:nth-child(8) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/tekken8.webp");
}

.carta:nth-child(9) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/Kof_2002_k.webp");
}

.carta:nth-child(10) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/mk3um.webp");
}

.carta:nth-child(11) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/dnfduel.webp");
}

.carta:nth-child(12) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../imagenes/granBlu.webp");
}

/* ---- Reglas del Evento ---- */
#reglasDelEvento .container {
  text-align: center;
  padding: 200px 12px;
}

#reglasDelEvento li {
  margin: 16px 0px;
  font-weight: bold;
}

#final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 80vh;
}

#final h2 {
  font-size: 9vw;
}

#final button {
  font-size: 1.75em;
}

footer {
  background-color: rgb(245, 245, 245);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*  --------------------------------------------------------------------------------*/
/* Version Destok*/
@media (min-width: 720px) {
  .nav-destok {
    display: flex;
    gap: 1rem;
  }

  .nav-destok a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(191, 206, 207, 0.87);
    text-shadow: 1px 1px 2px rgba(23, 165, 18, 0.5);
  }

  .nav-destok a:hover {
    color: #15d7f9;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 12, 12, 0.973);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  /*Fin de headers */
  #hero {
    background-color: rgb(6, 88, 126);
    padding: 50px 0;
  }

  #hero a {
    text-decoration: none;
  }

  #hero h1 {
    text-align: center;
    color: rgb(240, 224, 224);
    font-size: 50px;
    text-shadow: 3px 3px 5px rgba(255, 0, 0, 1);
  }

  #hero button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px;
    color: white;
    background-color: crimson;
    text-decoration: none; /* Elimina el subrayado */
    display: block; /* Hacer que el botón sea un bloque */
    margin: 20px auto;
    cursor: pointer;
  }

  #hero a button:hover {
    background-color: skyblue;
    color: #333;
  }

  /* -------------------------------------------*/

  #somos-gaming .container {
    display: flex;
    justify-content: space-evenly;
    padding: 200px;
  }

  #somos-gaming .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #somos-gaming h2 {
    margin-top: 0px;
  }

  #somos-gaming .img-container {
    background-image: url("../imagenes/th.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
  }

  /*  Nuestros Juegos  */

  #nuestros-juegos .carta img {
    width: 100%; /* Ancho fijo de 300px */
    height: auto; /* Altura fija de 400px */
    object-fit: cover; /* Mantener la proporción y recortar si es necesario */
    border-radius: 8px;
    margin-bottom: 15px;
    border: 5px solid #31a127;
  }

  #nuestros-juegos .programas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  #nuestros-juegos p {
    display: block;
    margin-bottom: 30px;
  }

  #nuestros-juegos h2 {
    font-size: 4em;
  }

  #nuestros-juegos h3 {
    margin-top: 0;
  }

  #nuestros-juegos .carta {
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  /*---- reglas del evento --------*/
  #reglasDelEvento {
    background-image: url("../imagenes/torneo.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 800px) 120px;
  }

  #reglasDelEvento .container {
    text-align: initial;
  }

  #reglasDelEvento ul {
    margin-left: 100px;
  }

  #final h2 {
    font-size: 5em;
  }

  #final button {
    font-size: 2em;
  }

  footer .container {
    justify-content: flex-end;
  }
}

@media (win-width: 1100px) {
  #reglasDelEvento {
    background-position-x: calc(100vw - 800px);
  }
}
